* {
    font-family: 'Poppins', sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration

li {
    list-style: none;
}

main{
    /* padding-top: 50px; */
    height: auto;
}

.btn-list:hover{
    text-decoration: underline;
}

.blur{
    filter: blur(2px);
}

header {
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    /* position: fixed; */
    z-index: 1;
}

.header-list a {
    text-decoration: none;
    color: black;
}

.header-title h1 {
    font-size: 35px;
    letter-spacing: 0px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
}

.header-title h1:hover {
    font-size: 37px;
    letter-spacing: 2px;
}

.header-list {
    display: flex;
    justify-content: center;
    gap: 15vh;
}

footer{
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    padding: 50px 50px 10px 50px;
    font-size: 12px;
}

footer a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

footer a:hover{
    text-decoration: underline;
}

.github-img{
    width: 600px;
}

@media only screen and (max-width: 768px) {
    footer .col-md-6, footer .col-md-2{
        padding: 15px 0;
    }

    footer .col-md-2 a{
        padding: 0;
    }
  }